@page "/"

@using RoyAppMaui.Models

<MudDataGrid T="Sleep"
             Bordered="true"
             Dense="true"
             Elevation="25"
             FixedHeader="true"
             FixedFooter="true"
             EditMode="DataGridEditMode.Form"
             EditTrigger="DataGridEditTrigger.Manual"
             Height="calc(100vh - 220px)"
             Items="_items"
             Loading="@_isLoading"
             LoadingProgressColor="@Color.Primary"
             ReadOnly="false"
             RowsPerPage="Settings.RowsPerPage"
             RowsPerPageChanged="OnRowsPerPageChanged"
             StartedEditingItem="OnStartedEditingItem"
             CommittedItemChanges="OnCommittedItemChanges">
    <Columns>
        <PropertyColumn Property="x => x.Id">
            <EditTemplate>
                <MudTextField @bind-Value="context.Item.Id"
                              Label="Id" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.BedtimeDisplay" Title="Bedtime">
            <EditTemplate>
                <MudTimePicker @ref="_bedtimepicker"
                               AmPm="true"
                               Editable="true"
                               ImmediateText="true"
                               Label="Bedtime"
                               PickerClosed="_bedtimepicker.ResetAsync"
                               PickerVariant="PickerVariant.Dialog"
                               Placeholder="hh:mm"
                               Time="context.Item.Bedtime"
                               TimeChanged="args => HandleTimeChange(_bedtimepicker, args)"
                               TimeFormat="HH:mm"
                               Variant="Variant.Text" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.BedtimeRec" Title="(As Decimal)" IsEditable="false" />
        <PropertyColumn Property="x => x.WaketimeDisplay" Title="Waketime">
            <EditTemplate>
                <MudTimePicker @ref="_waketimepicker"
                               AmPm="true"
                               Editable="true"
                               ImmediateText="true"
                               Label="Waketime"
                               PickerClosed="_waketimepicker.ResetAsync"
                               PickerVariant="PickerVariant.Dialog"
                               Placeholder="hh:mm"
                               Time="context.Item.Waketime"
                               TimeChanged="args => HandleTimeChange(_waketimepicker, args)"
                               TimeFormat="HH:mm"
                               Variant="Variant.Text" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.WaketimeRec" Title="(As Decimal)" IsEditable="false" />
        <PropertyColumn Property="x => x.Duration" IsEditable="false" />
        <TemplateColumn Filterable="false" Sortable="false">
            <CellTemplate>
                <MudIconButton Size="@Size.Small"
                               Icon="@Icons.Material.Filled.Edit"
                               OnClick="@context.Actions.StartEditingItemAsync" />
                <MudIconButton Size="@Size.Small"
                               Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Error"
                               OnClick="@(() => RemoveItemAsync(context.Item))" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Sleep" />
    </PagerContent>
</MudDataGrid>
<div style="width: 50%;">
    <MudNumericField @bind-Value="BedtimeAvg"
                     Class="d-inline-flex pa-3"
                     HideSpinButtons="true"
                     Label="Bedtime Avg"
                     Min="0"
                     ReadOnly="true"
                     Variant="Variant.Outlined" />
    <MudNumericField @bind-Value="WaketimeAvg"
                     Class="d-inline-flex pa-3"
                     HideSpinButtons="true"
                     Label="Waketime Avg"
                     Min="0"
                     ReadOnly="true"
                     Variant="Variant.Outlined" />
</div>
<MudItem Class="d-flex justify-end flex-grow-1 gap-4 mr-5"
         Style="position:fixed; bottom:15px;right:0">
    <MudFab Color="Color.Success"
            OnClick="AddNewItem"
            StartIcon="@Icons.Material.Filled.Add" />
</MudItem>