@page "/"
@using RoyApp.Components.Controls

<MudDataGrid
    T="Sleep"
    FixedHeader="true"
    FixedFooter="true"
    Items="_sleeps"
    Loading="@_isLoading"
    LoadingProgressColor="@Color.Primary"
    RowsPerPage="SettingsService.RowsPerPage"
    RowsPerPageChanged="OnRowsPerPageChanged"
    SortMode="SortMode.None"
    Square="true"
    Striped="true">
    <Columns>
        <PropertyColumn Property="x => x.Id" HeaderStyle="min-width: 390px" />
        <TemplateColumn Title="Bedtime" CellClass="custom-column-size" HeaderStyle="justify-items: center">
            <CellTemplate>
                <MudStack Row="true" StretchItems="StretchItems.End" AlignItems="AlignItems.Center" Spacing="1">
                    <MudText>@context.Item.BedtimeDisplay</MudText>
                    <TimeChip Time="@context.Item.BedtimeAsDecimal" />
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Waketime" CellClass="custom-column-size" HeaderStyle="justify-items: center">
            <CellTemplate>
                <MudStack Row="true" StretchItems="StretchItems.End" AlignItems="AlignItems.Center" Spacing="1">
                    <MudText>@context.Item.WaketimeDisplay</MudText>
                    <TimeChip Time="@context.Item.WaketimeAsDecimal" />
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.DurationDisplay" Title="Duration" CellClass="@GetDurationColumnClass()" HeaderStyle="justify-items: right" />
        <TemplateColumn Filterable="false" CellClass="@GetActionColumnClass()">
            <CellTemplate>
                <MudStack Row="true" Class="d-flex justify-center" Spacing="3">
                    <MudTooltip
                        Arrow="true"
                        Text="Edit">
                        <MudIconButton
                            Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Edit"
                            Color="Color.Primary"
                            OnClick="@(() => ModifyItemAsync(context.Item))"
                            Variant="Variant.Filled"/>
                    </MudTooltip>
                    <MudTooltip
                        Arrow="true"
                        Text="Delete">
                        <MudIconButton
                            Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Delete"
                            Color="Color.Error"
                            OnClick="@(() => RemoveItemAsync(context.Item))"
                            Variant="Variant.Filled" />
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <NoRecordsContent>
        <div class="nocontent">
            <MudText Typo="Typo.h5">No sleep data available.</MudText>
        </div>
    </NoRecordsContent>
    <PagerContent>
        <MudDataGridPager T="Sleep" />
    </PagerContent>
</MudDataGrid>

@* Hidden for Android/mobile *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudDivider />

    <MudAppBar Bottom="true" Fixed="true" Elevation="1" Style="height: 90px;" Color="Color.Transparent">
        <MudStack Class="mt-6" Row="true" AlignItems="AlignItems.Center">
            <MudField AdornmentIcon="@Icons.Material.Filled.Bed" Adornment="Adornment.Start" AdornmentColor="Color.Tertiary" Label="Bedtime Average" Variant="Variant.Outlined" Style="width: 150px">@BedtimeAverage</MudField>
            <MudField AdornmentIcon="@Icons.Material.Filled.Alarm" Adornment="Adornment.Start" AdornmentColor="Color.Tertiary" Label="Waketime Average" Variant="Variant.Outlined" Style="width: 150px">@WaketimeAverage</MudField>
        </MudStack>
        <MudButton Class="ml-5 mt-7" OnClick="@ConfirmClearTableAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PlaylistRemove" Color="Color.Primary">Clear Data</MudButton>
        <MudSpacer />
        <MudButton Class="mt-7" OnClick="@AddItemAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success">Add</MudButton>
    </MudAppBar>
</MudHidden>

@* Hidden for desktop *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudAppBar Bottom="true" Fixed="true" Elevation="1">
        <MudIconButton OnClick="@ConfirmClearTableAsync" Icon="@Icons.Material.Filled.PlaylistRemove" Color="Color.Inherit" />
        <MudSpacer />
        <MudIconButton OnClick="@ToggleDrawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" />
        <MudSpacer />
        <MudIconButton OnClick="@AddItemAsync" Icon="@Icons.Material.Filled.Add" Color="Color.Inherit" />
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen" Anchor="Anchor.Bottom" Variant="DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Averages</MudText>
        </MudDrawerHeader>
        <MudStack Row="true" Class="mx-3 mb-6" AlignItems="AlignItems.Center">
            <MudField AdornmentIcon="@Icons.Material.Filled.Bed" Adornment="Adornment.Start" AdornmentColor="Color.Tertiary" Label="Bedtime Average" Variant="Variant.Outlined" Style="width: 150px">@BedtimeAverage</MudField>
            <MudField AdornmentIcon="@Icons.Material.Filled.Alarm" Adornment="Adornment.Start" AdornmentColor="Color.Tertiary" Label="Waketime Average" Variant="Variant.Outlined" Style="width: 150px">@WaketimeAverage</MudField>
        </MudStack>
    </MudDrawer>
</MudHidden>
